<div class="movie">
    <object width="640" height="360">
        <param name="movie" value="http://swf.ws.126.net/openplayer/v01/-0-2_M9NB0CLKV_M9NB9O1UP-vimg1_ws_126_net//image/snapshot_movie/2014/3/1/N/M9NB9NR1N-1423031805465.swf?isTEDPlay=1"></param>
        <param name="allowScriptAccess" value="always"></param>
        <param name="wmode" value="transparent"></param>
        <embed src="http://swf.ws.126.net/openplayer/v01/-0-2_M9NB0CLKV_M9NB9O1UP-vimg1_ws_126_net//image/snapshot_movie/2014/3/1/N/M9NB9NR1N-1423031805465.swf?isTEDPlay=1" type="application/x-shockwave-flash" allowFullScreen="true" wmode="transparent" allowScriptAccess="always">
        </embed>
    </object>
</div>
