body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

%default-line-height {
    line-height: 1.25;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

h1 {
    @extend %default-line-height;
    font-size: 36px;
    
}

h2 {
    @extend %default-line-height;
    font-size: 24px;
}

h3 {
    @extend %default-line-height;
    font-size: 21px;
}

h4 {
    @extend %default-line-height;
    font-size: 18px;
}
  
h5 {
    @extend %default-line-height;
    font-size: 14px;
}

p {
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.vertical-align {
    font-size: 3em;
    font-weight: bold;
}

span.articles-count {
    font-size: 0.4em;
}